.App {
  text-align: center;
}

.navbar{
  height:3rem;
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row;
  position: static;
  top: 0;
  background-color: gray;
}

.navbar h1, .navbar h2, .navbar h3, .navbar s, .navbar p,.navbar small, .navbar a{
  font-size: 1rem; 
  color: brown;
}

.container {
  background-color: lightblue; 
  min-height: calc(100vh - 3rem); 
}

/* COMPONENT Login = login-page */
.my-account-login-page{
}

.welcome-img{
  width: 25vw;
}
.third-width{
background: green;
width: 50%;
margin: 10px;
}

.login-page {
  background: salmon;
  height: 400px;
}


/* COMPONENT ProductView = PRODUCT CARD */
.product-container{
  background: pink;
}
.product-card{
  background: yellow;
  width: 50%;
}

.product-image{
  width: 8em;
  height: 6rem;
}
.product-create{
  background:green;
margin: 10px 0 10px 0;
}
