.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.navbar{
  height:3rem;
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row;
  position: static;
  top: 0;
  background-color: gray;
}

.navbar h1, .navbar h2, .navbar h3, .navbar s, .navbar p,.navbar small, .navbar a{
  font-size: 1rem; 
  color: brown;
}

.container {

  min-height: calc(100vh - 3rem); 
}

/* COMPONENT Home = */
.main-home-div{
  background: red;
}
.hero-image-div{
height: 70vh;
width: 100vw;
}

.hero-image{
max-height: 100%;
width: 100%;
}
.text-over-hero-img{
  position: absolute;
  top: 40%;
  z-index: 100;
  transform: translateY(-70%);
  width: calc(30vw - 50px);
  text-align: center;
  color: white;
  font-size: 3rem;
  margin-left: 5%;
}

.three-article-column{
  background: pink;
  display: flex;
}

.article-column{
background: salmon;
width: 33.3%;
text-align: center;

}
.article-column-image{
width: 100%
}

.text-over-column-image{
  position: absolute;
  top: 90%;
  z-index: 100;
  transform: translateY(-70%);
  width: calc(30vw - 50px);
  text-align: center;
  color: white;
  font-size: 1.4rem;
}
/* COMPONENT Login = login-page */
.my-account-login-page{
}

.welcome-img{
  width: 25vw;
}
.third-width{
border: solid 1px black;
width: 50%;
margin: 10px;
}

.login-page {
  background: salmon;
  height: 400px;
}
/* COMPONENT Profile = article */

article{
  background: pink;
  width: 20%;
  height: 100vh;
}

.sidebar{
  background: lightgray;
  width: 20%;
  height: 100vh;
}

.picture-profile{
  border-radius: 100%;
  height: 20%;
  width:50%;
}


/* COMPONENT ProductView = PRODUCT CARD */
.product-container{

}
.product-card{

  /* margin: 100px 150px 8px 210px; */
  margin: 10px;
  column-width: 500px;
  column-gap: 10px;
  width: 60%;
  max-width: 1000px;
  height: 40vh;
  font-size: 1rem;
  align-content: center;
  border: solid 1px black;
}

.product-card p{
text-align: center;
}

.product-image{
  float: left;
  width: 35%;
  height: 100%;
}
.product-create{
  background:green;
  margin: 10px 0 10px 0;
}
