body{
  font-family: 'Crimson Text', serif;
  color: rgb(83, 83, 83);

}
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}
/* 
.button-style{
margin: 15px;
background: black;
color: white;
} */

.input-button{
text-align: center;
background-color: #000000;
color: white;
margin: 5px;
padding: 10px;
}

.navbar{
  height:3rem;
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row;
  position: static;
  top: 0;
  background: rgb(246, 245, 243);
}
.user-icon-login{
  width: 36px;
  height: 36px;
}
.navbar h1, .navbar h2, .navbar h3, .navbar s, .navbar p,.navbar small, .navbar a{
  text-decoration: none;
}

a:visited{
color: #000000;
}

.container {
  min-height: calc(100vh - 3rem); 
}

/* COMPONENT Home = */

.hero-image-div{
height: 70vh;
width: 100vw;
}

.hero-image{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.text-over-hero-img{
  position: absolute;
  top: 40%;
  z-index: 100;
  transform: translateY(-70%);
  width: calc(30vw - 40px);
  text-align: center;
  color: white;
  font-size: 3rem;
  margin-left: 5%;
}

.article-column:hover .text-over-column-image{
	text-align:justify;
	color:#000000;
	font-size:20px;
	font-weight:700;  
}

.three-article-column{
  display: flex;
  box-sizing: border-box;
}

.article-column{
width: 33.3%;
text-align: center;

}
.article-column-image{
width: 100%;
border: 3px solid white;
}

.text-over-column-image{
  position: absolute;
  top: 90%;
  z-index: 100;
  text-align: center;
  color: white;
  font-size: 1.4rem;
  transform: scaleY(0);
  transition: transform  .5s;
}
/* COMPONENT Login = login-page */
.my-account-login-page{
}

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

.third-width{
width: 30%;
margin: 10px;
height: 40%;
}
.welcome-img{
  width: 25vw;
  margin: 0 auto;
  display: block;
  margin: 10px; 
  object-fit: fill;
  align-content: center;
  box-shadow:rgba(230, 216, 209) 10px 20px;
  margin: 10px;
}

.third-width h1{
  text-align: center;
}

/* COMPONENT Profile = article */
.profile-container{
  background-color: #f5f5f5;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  /* height:calc(100vh - 3rem); */
  display:flex;
  flex-flow: row;
}
.profile-container h1{
  text-align: center;
}
.sidebar{
  background: rgb(230, 216, 209);
  width: calc(20% - 1rem);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column;
  padding: .5rem;
} 

.sidebar h1 {
  text-align: center;
}
.picture-profile{
  border-radius: 100%;
  height: 20vh;
  width: 20vh;
} 
.profile-board{
  height: 100%;
  width:calc(80% - 1rem);
  height:100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  padding: .5rem;
}
.products-org{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
}
.product-card-on-Profile{
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  flex-flow: column;
  height: auto;
  width: 25%;
  min-width: 10rem;
  min-height: 10rem;
  background-color: rgb(230, 216, 209, 0.6);
  padding: 10px;
  margin: 10px;
  font-size: 1rem;
}
.productView{
  width: auto;
}

.product-image-2{
  object-fit: cover;
  height: 40%;
  width: 100%;
  box-shadow: #787878 -6px 6px  ;
  /* background-color: white; */
}

/* .product-description{
background: whitesmoke;
width: 80%;
align-self: auto;
} */

/* COMPONENT ProductView */
.product-container{
  background-color: #f5f5f5;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  display: flex;
  flex-direction: column;
}
.product-create{
  position: absolute;
  top:60%;
  right:80%
}
.product-scroll{
  border: solid .03px gray;
    background: whitesmoke;
    margin: 10px 0 10px 0;
    position: fixed;
    width: 100vw;
    bottom:0;
  }
.create-product-button{
background-color: rgba(241, 236, 232);
font-size: 1em;
border: 1.5px;
border-radius: 3px;
padding: 20px;
margin: 20px;
}
.test{
  max-width: 275px;
  background-color: rgba(241, 236, 232);
  width: 50vw;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
}

.product-card {
    /* height: auto; */
    /* width: auto; */
    display: flex;
    align-items: flex-start;
    /* flex-direction: row; */
    /* align-self: center; */
    justify-content: center;
    /* margin: 10px; */
    /* flex-flow: row wrap; */
}

.product-card p {
  text-align: center;
}

.product-card input{
text-align: center;
background-color: #000000;
color: white;
margin: .5px;
padding: 10px;
}
.product-image{
  width: 100%;
  object-fit: fill;
  height: 30%;
}


/* COMPONENT ProductPage = product-image-on-ProductPage */
.product-page {
  background-color: #f5f5f5;
  background-image: url(https://www.transparenttextures.com/patterns/stardust.png);
  display: flex;
  align-items: center;
  flex-direction: column;
  /* align-self: center; */
  justify-content: center;
  height: auto;
  min-height: calc(100vh - 3rem);
}
.product-page h1{
  text-align: center;
}
.product-image-on-ProductPage{
width: 50vw;
height: 50vh;
}
/* COMPONENT Register*/

.register-container{
z-index: 0;
height: calc(100vh - 3rem);
display: flex;
justify-content: center;
align-items: center;
background-color: #f5f5f5;
background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

.register-image{
  width: 60%;
  height: 100%;
  object-fit:cover;
  z-index: 0;
}
.mid-width{
  border: solid 1px black;
  height: 80vh;
  width: 45%;
  text-align: center;
  object-fit: fill;
}

/* COMPONENT: History */
.history-div{
  width: 100vw;
  height: 100vh;
}
.top-image{
  width: 100%;
  height: 90%; 
}

.top-image-image{
object-fit: fill;
width: 100%;
height: 100%;
}

/*COMPONENT: EditProduct*/

.edit-form{
  background: rgba(230, 216, 209, .6);
  margin:1rem;
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
form{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width:90%;
  padding: .5rem 0 1rem 0;
}

form input[type=text] ,form input[type=password], form input[type=email]{
  width: 100%;
  padding: 4px 6px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form span{
  align-self: flex-start;
  margin-top: .5rem;
}

.edit-page{
  margin: 0 auto;
  width: 100vw;
  height: calc(100vh - 3rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}
.edit-page h1{
  text-align: center;
  
}
/* .edit-form{
  background: rgba(230, 216, 209);
  width: 50%;
} */

/*COMPONENT: CreateProduct*/

.create-product-page{
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}
.create-product-page h1{
  text-align: center;
}

.create-form{
  background: rgba(230, 216, 209);
  width: 50%;
}